In [2]:
#read file 
import pandas as pd
filepath = "EXP_MORSC_01032019225444048.csv"
country_mort_data = pd.read_csv(filepath)
country_mort_data.head()

,COU,Country,VAR,Variable,YEA,Year,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,AUS,Australia,PM_MOR,Mortality from exposure to outdoor PM2.5,1990,1990,1000000HAB,Per 1 000 000 inhabitants,0,Units,NaN,NaN,300.0652,NaN,NaN
1,AUS,Australia,PM_MOR,Mortality from exposure to outdoor PM2.5,1991,1991,1000000HAB,Per 1 000 000 inhabitants,0,Units,NaN,NaN,297.1893,NaN,NaN
2,AUS,Australia,PM_MOR,Mortality from exposure to outdoor PM2.5,1992,1992,1000000HAB,Per 1 000 000 inhabitants,0,Units,NaN,NaN,300.2021,NaN,NaN
3,AUS,Australia,PM_MOR,Mortality from exposure to outdoor PM2.5,1993,1993,1000000HAB,Per 1 000 000 inhabitants,0,Units,NaN,NaN,292.8972,NaN,NaN
4,AUS,Australia,PM_MOR,Mortality from exposure to outdoor PM2.5,1994,1994,1000000HAB,Per 1 000 000 inhabitants,0,Units,NaN,NaN,295.0728,NaN,NaN

In [3]:
# country_mort_data['Country'].value_counts()

In [7]:
#Filter data for data relevant to the US.
US_data = country_mort_data[country_mort_data['Country'].str.contains("United States")==True]
US_data

In [8]:
US_data.head()

,COU,Country,VAR,Variable,YEA,Year,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
812,USA,United States,PM_MOR,Mortality from exposure to outdoor PM2.5,1990,1990,1000000HAB,Per 1 000 000 inhabitants,0,Units,NaN,NaN,372.6680,NaN,NaN
813,USA,United States,PM_MOR,Mortality from exposure to outdoor PM2.5,1991,1991,1000000HAB,Per 1 000 000 inhabitants,0,Units,NaN,NaN,371.3994,NaN,NaN
814,USA,United States,PM_MOR,Mortality from exposure to outdoor PM2.5,1992,1992,1000000HAB,Per 1 000 000 inhabitants,0,Units,NaN,NaN,367.1144,NaN,NaN
815,USA,United States,PM_MOR,Mortality from exposure to outdoor PM2.5,1993,1993,1000000HAB,Per 1 000 000 inhabitants,0,Units,NaN,NaN,375.3801,NaN,NaN
816,USA,United States,PM_MOR,Mortality from exposure to outdoor PM2.5,1994,1994,1000000HAB,Per 1 000 000 inhabitants,0,Units,NaN,NaN,373.4384,NaN,NaN

In [37]:
US_data_mix_var = US_data[['Country', 'Variable', 'Year', 'Unit', 'Value']]
US_data_mix_var.head(5)
# US_data_analysis['Year'].value_counts()

,Country,Variable,Year,Unit,Value
812,United States,Mortality from exposure to outdoor PM2.5,1990,Per 1 000 000 inhabitants,372.6680
813,United States,Mortality from exposure to outdoor PM2.5,1991,Per 1 000 000 inhabitants,371.3994
814,United States,Mortality from exposure to outdoor PM2.5,1992,Per 1 000 000 inhabitants,367.1144
815,United States,Mortality from exposure to outdoor PM2.5,1993,Per 1 000 000 inhabitants,375.3801
816,United States,Mortality from exposure to outdoor PM2.5,1994,Per 1 000 000 inhabitants,373.4384

In [36]:
#filter the "United states" data frame for variable values pertaining to mortality
Mort_data_analysis = US_data_mix_var.loc[US_data_mix_var['Variable'] == "Mortality from exposure to outdoor PM2.5", :]
#Note at this point the data still contains values for United States virgin Islands
#So we filter out the Virgin Islands and get Data for only United States 
US_PM25_Mort_data = Mort_data_analysis.loc[Mort_data_analysis['Country'] == "United States", :]


US_PM25_Mort_data.sort_values(by=['Year']).head()

,Country,Variable,Year,Unit,Value
812,United States,Mortality from exposure to outdoor PM2.5,1990,Per 1 000 000 inhabitants,372.6680
813,United States,Mortality from exposure to outdoor PM2.5,1991,Per 1 000 000 inhabitants,371.3994
814,United States,Mortality from exposure to outdoor PM2.5,1992,Per 1 000 000 inhabitants,367.1144
815,United States,Mortality from exposure to outdoor PM2.5,1993,Per 1 000 000 inhabitants,375.3801
816,United States,Mortality from exposure to outdoor PM2.5,1994,Per 1 000 000 inhabitants,373.4384

In [33]:
US_PM25_Mort_data.to_csv("../DataFrames/US_PM25_Mort_data.csv", index=False, header=True)

In [5]:
#potentially do a group by year then graph... the grouped us mean poll_volume levels for those year versus the number of cases for that year

#groupby year with count of number of observations for mort...

# do a line grapgh showing change in counts over years
# along side a graph of mean pollution volume over years to see if the change in mean volume is related to the 


#question: while the analysis itself makes sense.. how should we interepret the change in mean volum over time in comaprison to the mort count over time...
#simply because we have defined the mortality as resulting from air pollution 





#question: is the interpretation of correlation correct in the sense that the data does not necessarily come from the same sample?

#does it make sense you just compare a collection of data for a year with another collection of data for the same year?

In [6]:
#could also do an analysis of world pollution mortality counts versus world pollution level data 


#we have a world pollution data set but we just havent found a way to get into it at the moment 

# with the world pollution data set we could then run an analysis of mortality count for countries versus pollution level
#for each country 

#is each row an individual case ?

#how should we interepret the unit column?